.header
  height 2rem
  box-sizing border-box
  padding 0 0.5rem
  display flex
  align-items center
  .header-logo
    height 100%
    display flex
    align-items center
    img
      width 3rem
  .header-search
    font-size 0.6rem
    height 1.2rem
    background #ededed
    margin 0 0.3rem
    border-radius 0.2rem
    display flex
    justify-content center
    align-items center
    color #666
    flex 1
    .header-search-icon
      width 0.7rem
      height 0.7rem
      background url('./images/search.png') center center no-repeat
      background-size contain
  .header-login
    font-size 0.4rem
    padding 0 0.2rem
    background-color transparent
    -webkit-appearance none
    appearance none
    color #b4282d
    border 1px solid #b4282d
    border-radius 0.1rem
