.classfify
  background-color #fff
  margin-bottom -0.6rem
  .classfify-list
    display flex
    flex-wrap wrap
    justify-content space-between
    .classfify-item
      width 18%
      display flex
      justify-content center
      align-items center
      font-size 0.5rem
      margin-bottom 0.6rem
      a
        display flex
        flex-direction column
        align-items center
        font-size 0.5rem
        color #666
        img
          width 100%
          margin-bottom 0.2rem