@import '../../../common/stylus/mixins.styl'
.title
  width 100%
  padding 0.5rem 0
  overflow hidden
  font-weight 400
  font-size $titleSize
  .title-left
    float left
    color $black
  .title-right
    float right
    a
      color $black